extends layout

block content
  h1= title
  p.greeting.
    Welcome to the #{title}. 
  div
    hr

    h2 html

    h3 Example of Markdown Rendering:
    div Click 
      a(href="/markdown/test.md") here 
      span to see test.md rendered as a Markdown file.
      p Try substituting test2.md for test.md.

    h3 Example of Github-Markdown Rendering:
    div Click 
      a(href="/github-markdown/test.md") here 
      span to see test.md rendered as a Github-Markdown file.
      p Try substituting test2.md for test.md.
    hr

    h2 json
    
    h3 Example of Markdown Rendering Json:
    div Click 
      a(href="/markdown-json/test.md") here 
      span to see test.md rendered as a Markdown json string.
      p Try substituting test2.md for test.md.

    h3 Example of Github-Markdown Rendering Json:
    div Click 
      a(href="/github-markdown-json/test.md") here 
      span to see test.md rendered as a Github-Markdown json string.
      p Try substituting test2.md for test.md.

    hr

